
body {
  background-color: rgb(245, 245, 245);
}

.todosection{
  display: flex;
}


.todoapp{
  justify-content: center;
  align-items: center;
  margin-inline: auto;
}

.todoapp h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: #1F97AF;
  text-rendering: optimizeLegibility;
  margin: 40px 0 40px 0;
  text-shadow: 0 3px 6px black;
  @media screen and (max-width: 860px) {
    font-size: 85px;

  }
}


.todos {
  width: 550px;
  margin-inline: auto;
  border: 1px solid black;
  background-color: rgba(254, 254, 254, 1);
  box-shadow: 0 3px 6px black;

  .todo-input {
    padding: 16px 16px 16px 35px;
    border: none;
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
    box-sizing: border-box;
    width: 100%;
    font-size: 24px;
    line-height: 1.4;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;

    @media screen and (max-width: 860px) {
      width: 90%;
    }

    &::placeholder {
      color: #757575;
      font-size: 24px;
    }
  }
}

.btn-delete-container{
  display: flex;
  justify-content: flex-end;
}


.btn-delete {
  opacity: 0;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  width: 30px;
  height: 30px;
  overflow: hidden;
  text-indent: -999px;
  border: 0;
  background-color: transparent;
  position: relative;

  &:after {
    content: "x";
    position: absolute;
    top: -3px;
    left: 0;
    width: 30px;
    height: 30px;
    text-indent: 0;
    font-size: 30px;
    line-height: 30px;
    font-weight: 100;
    font-family: sans-serif;
    color: gray;
  }
}

.todos-list {
  list-style: none;
  padding-left: 0;

  .todos-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #B5B5B5;
    word-break: break-all;
    padding: 15px 15px 15px 15px;
    line-height: 1.2;
    transition: color 0.4s;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    color: rgb(77, 77, 77);
    letter-spacing: 1px;

    &:hover {
      .btn-delete {
        opacity: 1;
      }
    }
  }
}



.status {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #B5B5B5;
  display: inline-block;
  margin: 10px;
  background-color: white;
  cursor: pointer;

  &.done {
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
    background-position: -8px -5px;
    border-color: transparent;

    & + span {
      text-decoration: line-through;
    }
  }
}

.current {
  border: 1px solid red;
}

.counter {
  color: rgb(182, 182, 182);
  padding: 10px;
  font-weight: 300;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.box {
  display: flex;
  justify-content: space-between;
}

.btn {
  color: rgb(182, 182, 182);
  padding: 10px;
  font-weight: 300;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.category {
  padding-inline: 40px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #1F97AF;

  &-select{
    color: #757575;
    background-color: white;
    position: relative;
    width: 275px;
    height: 65px;
    padding-left: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 20px;
    line-height: 1.4;
    border: 1px solid #B5B5B5;
    border-left: 0;
  }
}

.time-input{
  background-color: white;
  position: absolute;
  width: 243px;
  height: 61px;
  padding-left: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 20px;
  line-height: 1.4;
  border: 1px solid #B5B5B5;
  border-right: 0;
  border-left: 0;
  color: black;
}

.error-message-category {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  position: absolute;
  padding-left: 70px;
}

.error-message-time {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  position: absolute;
  padding-left: 350px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.box{
  display: flex;
}

.calculator {
  width: 520px;
  margin: 20px auto;
  padding: 15px;
  border: 1px solid black;
  background-color: rgba(254, 254, 254, 1);
  box-shadow: 0 3px 6px black;
  align-items: center;
  justify-content: center;
  display: flex;
  padding-bottom: 30px;

  &-hdl{
    font-size: 24px;
    line-height: 1.4;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    color: #757575;
  }

  &-input{
    padding: 5px;
    border: 1px solid black;
    line-height: 1.4;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
  }

  &-btn{
    padding: 5px;
    background-color: #1F97AF;
    border: 1px solid black;
    border-left: 0;
    color: white;
    line-height: 1.4;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;

    &:hover{
      cursor: pointer;
    }
  }
}


.btn-analyze{
  color: rgb(182, 182, 182);
  padding: 10px;
  font-weight: 300;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.btn-edit{
  padding: 5px;
  background-color: #1F97AF;
  border: 1px solid black;
  color: white;
  line-height: 1.4;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  padding-inline: 15px;
  cursor: pointer;
}